#Secret Key
SECRET_KEY=

=
#Roles
IS_ADMIN=
IS_TUTOR=
IS_THERAPIST=

=

=
#Database Configuration
DB_USER=
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=
DB_DIALECT=

=

=
USER_CODE=

=

=
#Email Configurations
EMAIL_HOST=
EMAIL_PORT=2525 #587
EMAIL_ADDRESS=
EMAIL_PASSWORD=
EMAIL_DOMAIN=
EMAIL_SECURE=

#Token Configuration
JWT_ACCESS_EXPIRATION=

=
## Image Storage
CONECTION_STRING=
DEFAULT_USER_IMAGE=
DEFAULT_CATEGORY_IMAGE=
DEFAULT_ACHIEVEMENT_IMAGE=
DEFAULT_PICTOGRAM_IMAGE=
USER_BLOCKCONTAINER=
CATEGORY_BLOCKCONTAINER=
PICTOGRAM_BLOCKCONTAINER=
ACHIEVEMENTS_BLOCKCONTAINER=

=
## File Storage
AZURE_ACCOUNT=
AZURE_KEY=

=
# node node_modules/puppetter