<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Change Request</title>
</head>
<body>

    <h2>Fundación Azul Esperanza</h2>

    <h3>Hola {{username}}</h3>
    <p>

      Has sido invitado a la familia Fundación Azul Esperanza
    </p>

    <p>Tu correo electrónico es: {{email}} y tu contraseña temporal es: {{password}}</p>

    <a href="{{url}}">
      <span>Click acá para cambiar tu contraseña</span>
    </a>

</body>
</html>