<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome Email</title>
  <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
  <main class="main-content">
    <div class="card">
      <img src="./images/hope_logo.svg" alt="Hope Logo" class="hope-logo">
      <h1 class="title">Cambio de Contraseña</h1>
      <p>Al parecer has olvidado la contraseña de tu usuario en Hope. Lo sentimos por eso</p>
      <p>Pero no te preocupes, Tu puedes utilizar el siguiente link para cambiar tu contraseña</p>
      <div class="link-content">
        <a href="{{url}}">Cambiar Contraseña</a>
      </div>
      <p>Si no usas este link dentro de una hora, este expirará</p>
    </div>
  </main>
</body>
</html>